{% extends 'home.html' %}

{% block container %}
    <div class="top-pad">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td style="text-align:left">{{ item['name'] }}</td>
                <td style="text-align:left">{{ item['description'] }}</td>
                <td style="text-align:left">${{ item['price'] }}</td>
                <!--<td style="text-align:left"><button type="button" class="btn btn-primary btn-sm" type="submit" value="DeleteItem">Delete</button></td>-->
                <form method="post" action="{{ url_for('Web.item_delete', store_id=store_id, item_id=item['id']) }}">
                    <td><input type="submit" name="item_submit" value="Delete Item"></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<!--
    {% for item in items %}
        <h1>{{ item['name'] }}
            <small>{{ item['description'] }}</small>
        </h1>
        <h3>
            ${{ item['price'] }}
        </h3>
    {% endfor %}
-->
    </div>
{% endblock %}
